<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.program.Dao.NewsMapper">
  <resultMap id="BaseResultMap" type="com.zh.program.Entrty.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, type, img_url, describe, create_time, update_time, content
  </sql>
  <insert id="insert" parameterType="com.zh.program.Entrty.News">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into news (title, type, img_url, 
      describe, create_time, update_time, 
      content)
    values (#{title,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{imgUrl,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zh.program.Entrty.News">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zh.program.Entrty.News">
    update news
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zh.program.Entrty.News">
    update news
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where 1=1 
    <if test="title != null">
       and  title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
       and  type = #{type,jdbcType=TINYINT}
    </if>
    <if test="imgUrl != null">
       and  img_url = #{imgUrl,jdbcType=VARCHAR}
    </if>
    <if test="describe != null">
       and  describe = #{describe,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="content != null">
       and  content = #{content,jdbcType=LONGVARCHAR}
    </if>
     order by id desc 
  </select>
  <select id="selectPaging" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where 1=1 
    <if test="title != null">
       and  title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
       and  type = #{type,jdbcType=TINYINT}
    </if>
    <if test="imgUrl != null">
       and  img_url = #{imgUrl,jdbcType=VARCHAR}
    </if>
    <if test="describe != null">
       and  describe = #{describe,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="content != null">
       and  content = #{content,jdbcType=LONGVARCHAR}
    </if>
     order by id desc limit #{firstResult,jdbcType=INTEGER},#{maxResult,jdbcType=INTEGER}
  </select>
  <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(*) 
    from news 
    where 1=1 
    <if test="title != null">
       and  title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
       and  type = #{type,jdbcType=TINYINT}
    </if>
    <if test="imgUrl != null">
       and  img_url = #{imgUrl,jdbcType=VARCHAR}
    </if>
    <if test="describe != null">
       and  describe = #{describe,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null">
       and  create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
    <if test="updateTime != null">
       and  update_time = #{updateTime,jdbcType=TIMESTAMP}
    </if>
    <if test="content != null">
       and  content = #{content,jdbcType=LONGVARCHAR}
    </if>
  </select>
</mapper>